@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
    <body>
        <div class="jumbotron text-center">
            <h1>My First Bootstrap Page</h1>
            <p>Resize this responsive page to see the effect!</p>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3>The Page Layout I see <mark>(Question a)</mark></h3>
                    <p class="text-info">I see a big title with three smaller columns below it.</p>
                </div>
                <div class="col-sm-4">
                    <h3>What happens when I resize the page? <mark>(Question b)</mark></h3>
                    <p>When I resize the page,</p>
                    <p><blockquote>Content stays within the window by stacking on top of each other.</blockquote></p>
                </div>
                <div class="col-sm-4">
                    <h3>CSS classes use <mark>(Question c)</mark></h3>
                    <p><span class="text-danger">CSS classes are styling the page into columns,</span> and automatically stacking them when the window gets small enough.</p>
                </div>
            </div>
        </div>
    </body>
</html>


